@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}
/* universal margin & padding */
*{
    margin: 0px;
    padding: 0px;
}

/* start common style */
.color-1{
    color:#0D1321;
    opacity:100%;
}
.color-2{
    color:#0D1321;
    opacity: 70%;
}
.color-2p{
    color:#0D1321;
    opacity: 70%;
    font-size: 16px;
}
.color-h{
    color:#0D1321;
    opacity: 70%;
    font-size: 24px;
    font-weight: bold;
}
.color-3{
    color:#0D1321;
    opacity: 80%;
}

.common-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}
.learn-button{
    margin-top: 40px;
    border: none;
    margin-bottom: 0px;
}

.learn-button>a{
     text-decoration: none;
     color:#0D1321;
     opacity: 70%;
     font-weight: 600;
     font-size: 20px;
     background-color: #FFFFFF;
     padding: 10px 20px;
     border:solid #0D1321 1px;
}


/* end common style */

/* start nav var style */
.nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
}

.nav>h3{
     font-size: 28px;
     font-weight: bolder;
     color:#0D1321;
}
.nav>button{
    padding: 10px 25px;
    border-radius: 5px;
    border: solid #0D1321 1px;
    background-color: white;
    
}
.nav>button>a{
    text-decoration: none;
}

/* end nav var style */

/* start banner bg */
.banner-bg{
    margin: 0;
    padding: 0;
    background-image:url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1518px;
    height: 652px;
  
}
.banner-content{
    text-align: center;
    
    
}
.banner-img{
    width: 240px;
    height: 240px;
    margin-top: 50px;
   
}
.banner-content>h1{
    font-size: 45px;
    font-weight: bolder;
    padding: 50px 300px;
}
.banner-content>p{
        font-size: 16px;
        padding: 1px 300px;
        margin-bottom: 20px;
}
.banner-content>button{
    padding: 10px;
    border: none;
}

.banner-content>button>a{
    text-decoration: none;
    padding:11px 30px;
    color: #FFFFFF;
    background-color: black;
    border-radius: 5px;
    font-weight: 600;
}
/* end banner bg */

/* start section 1 */
.section-1{
    text-align: center;
    width: 1140px;
    
    margin: 0px auto;
    margin-top: 100px;
    
}
.webDev{
  margin-top: 100px;
}

.full-content{
    display: flex;
    gap: 100px;
    margin-bottom:0px;
    padding: 100px;
}
.content{
    text-align: left;
}
.content>h1{
    margin-bottom: 30px;
}

/* end section 1 */

/* start section 2 */
.section-2{
    text-align: center;
    padding: 50px;
    width: 852px;
    margin: 0px auto;
}
.ins-description{
    margin-top:30px;
    margin-bottom: 30px;
    padding: 10px;
}

.vid{
    width: 940px;
    height: 514px;
    border-radius: 20px;
    
}

/* end section 2 */

/* start section 3 */

.upper-part{
    text-align: center;
    width: 852px;
    margin: 0px auto;
    margin-top: 90px;
}
.header-part{
    margin-bottom: 50px;
}
.header-part>h1{
    margin-bottom: 30px;
}
.header-part>p{
    padding: 10px 60px;
}
.box-part{
    display: flex;
    gap: 40px;
    justify-content:space-between;
  
    padding: 30px;
    margin-bottom: 100px;

}
.box{
    display: block;
    text-align:left;
    border-radius: 10px;
   
    
}
.box1{
    background-color: #FF4C1E0D;
    padding: 30px;
    box-shadow: 5px 7px 25px #FF4C1E33;
}

.box2{
    padding: 30px;
    background-color:#004CE80D ;
    box-shadow: 5px 7px 25px #004CE833;
   
}

.box3{
    padding: 30px;
    background-color: #FFDF000D;
    box-shadow: 5px 7px 25px #FFDF0033;
}

.box>h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.box>p{
    margin-bottom: 15px;
}


.lower-part{
    text-align: center;
    width: 1140px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.full-box{
    display: flex;
    gap: 50px;
    padding: 30px;
    border: solid 1px rgb(245, 190, 190);
    border-radius: 10px;
    margin: 15px;
    box-shadow: 5px 7px 25px #004CE833;
    
}
.full-box h1{
    margin-bottom: 10px;
}
.full-box p{
    margin-bottom: 10px;
}


.header2part p{
    padding: 60px;
}

/* end section 3 */